<script lang="ts" setup>
import {onMounted, reactive, ref} from "vue";
import router from "@/router";
import {useRoute} from "vue-router";
import request from "../../../request.js";
import {ElMessage} from "element-plus";

const dataInfo = reactive({
    tb000: JSON.parse(<string>sessionStorage.getItem('c_userId')),
    tb001: '',
    tb002: '',
    tb003: '',
    tb004: '',
    tb005: [],
    Participants: '',
    tbType: 'SmallClaims',
})


let tb005List = ref([])
let participantsList = ref([])

onMounted(() => {
    getUserList()
})

const getUserList = () => {
    request({
        method: "post",
        url: "/user/getList",
        data: {},
    }).then((res: any) => {
        if (res.data.code == '200') {
            participantsList.value = res.data.data;
            let mark = '';
            if (dataInfo.tbType == 'SmallClaims') {
                mark = '2'
            } else {
                mark = '3'
            }
            participantsList.value.forEach((item, index) => {
                if (item.roleId == mark)
                    tb005List.value = [
                        ...tb005List.value,
                        item
                    ]
            })
        }
    });
}

const changeType = () => {
    let mark = '';
    if (dataInfo.tbType == 'SmallClaims') {
        mark = '2'
    } else {
        mark = '3'
    }
    tb005List.value = [];
    participantsList.value.forEach((item, index) => {
        if (item.roleId == mark)
            tb005List.value = [
                ...tb005List.value,
                item
            ]
    })
    dataInfo.tb005 = [];
}

const save = () => {
    if (dataInfo.tb001 == '' || dataInfo.tb002 == '' || dataInfo.tb003 == '' || dataInfo.tb004 == '' || dataInfo.tb005.length == 0 || dataInfo.Participants == '') {
        ElMessage.error("请维护完整信息!");
        return;
    }
    const dayStart = new Date(dataInfo.tb003);
    const dayEnd = new Date(dataInfo.tb004);
    if(!(dayStart.getTime() <= dayEnd.getTime())){
        ElMessage.error("开始日期不得小于结束日期!");
        return;
    }
    request({
        method: "post",
        url: "/yg001/add",
        data: dataInfo,
    }).then((res: any) => {
        if (res.data.code == '200') {
            cancel();
        }
    });
    console.log(dataInfo)
}

const cancel =()=>{
    router.push({name: "YG001"});
}
</script>

<template>
    <el-row style="padding:10px; width: 100%;">
        <h2>新建申请单</h2>
    </el-row>
    <el-row style="padding:10px; width: 100%;">
        <el-col>
            <el-form-item label="申请种类">
                <el-radio-group v-model="dataInfo.tbType" @change="changeType">
                    <el-radio label="SmallClaims">小额申请</el-radio>
                    <el-radio label="LargeApplications">大额申请</el-radio>
                </el-radio-group>
            </el-form-item>
        </el-col>
    </el-row>
    <el-row style="padding:10px; width: 100%;">
        <el-col>
            <el-form-item label="部门名称">
                <el-input v-model="dataInfo.tb001"/>
            </el-form-item>
        </el-col>
    </el-row>
    <el-row style="padding:10px; width: 100%;">
        <el-col>
            <el-form-item label="申请理由">
                <el-input v-model="dataInfo.tb002" type="textarea"/>
            </el-form-item>
        </el-col>
    </el-row>
    <el-row style="padding:10px; width: 100%;">
        <el-col>
            <el-form-item label="起始日期">
                <el-col :span="11">
                    <el-date-picker
                        v-model="dataInfo.tb003"
                        placeholder="Pick a date"
                        style="width: 100%"
                        type="date"
                    />
                </el-col>
                <el-col :span="2" align="center">
                    ~
                </el-col>
                <el-col :span="11">
                    <el-date-picker
                        v-model="dataInfo.tb004"
                        placeholder="Pick a date"
                        style="width: 100%"
                        type="date"
                    />
                </el-col>
            </el-form-item>
        </el-col>
    </el-row>
    <el-row style="padding:10px; width: 100%;">
        <el-col>
            <el-form-item label="参与人员">
                <el-select v-model="dataInfo.Participants" multiple placeholder="选择参与人员">
                    <el-option v-for="(item,index) in participantsList" :label="item.userName" :value="item.userId"/>
                </el-select>
            </el-form-item>
        </el-col>
    </el-row>
    <el-row style="padding:10px; width: 100%;">
        <el-col>
            <el-form-item label="审批人">
                <el-select v-model="dataInfo.tb005" multiple placeholder="选择审批人">
                    <el-option v-for="(item,index) in tb005List" :label="item.userName" :value="item.userId"/>
                </el-select>
            </el-form-item>
        </el-col>
    </el-row>
    <el-row style="padding:10px; width: 100%;">
        <el-col align="right" style="padding:10px; width: 100%;">
            <el-button type="primary" @click="save">保存</el-button>
            <el-button type="primary" @click="cancel">取消</el-button>
        </el-col>
    </el-row>
</template>

<style scoped>

</style>
