<script lang="ts" setup>
import {onMounted, reactive, ref} from "vue";
import router from "@/router";
import {useRoute} from "vue-router";
import request from "../../../request.js";
import {ElMessage, ElMessageBox} from "element-plus";

const tbDocno = ref('');
const tb003 = ref('');
const tb004 = ref('');
const tb008 = ref(0);
let totalCount = ref(0);
let detailList = ref([]);
let backgroundColor = ref('#F0F5FF');
let participantsList = ref([])
let detailItem = reactive({
    tbDocno:'',
    tbTime: '',
    tbContent:'',
    tbCount:0,
    tbUser:''
})

onMounted(() => {
    console.log(useRoute().query)
    tbDocno.value = <string>useRoute().query.tbDocno;
    tb003.value = <string>useRoute().query.tb003;
    tb004.value = <string>useRoute().query.tb004;
    if(useRoute().query.tb008 != null){
        tb008.value = Number(useRoute().query.tb008);
        tb008.value = Number(tb008.value.toFixed(2));
    }
    console.log(tb008.value)
    getUserList();
    getDetailList();
})

const getUserList = () => {
    request({
        method: "post",
        url: "/user/getList",
        data: {},
    }).then((res: any) => {
        if (res.data.code == '200') {
            participantsList.value = res.data.data;
        }
    });
}

const getDetailList = ()=>{
    request({
        method: "post",
        url: "/yg001/getDetailList",
        data: {param:tbDocno.value},
    }).then((res: any) => {
        if (res.data.code == '200') {
            detailList.value = res.data.data;
            getCount();
        }
    });
}

const deleteItem = (id:String)=>{
    ElMessageBox.confirm('确定删除此笔数据?')
        .then(() => {
            request({
                method: "post",
                url: "/yg001/deleteDetail",
                data: {param:id},
            }).then((res: any) => {
                if (res.data.code == '200') {
                    ElMessage.success("删除成功!");
                    getDetailList();
                }else{
                    ElMessage.error("删除失败!");
                }
            });
        })
}

const save = ()=>{
    detailItem.tbDocno = tbDocno.value;
    const dayStart = new Date(tb003.value);
    const dayEnd = new Date(tb004.value);
    const dayTarget = new Date(detailItem.tbTime);
    if(!(dayStart <= dayTarget && dayTarget <= dayEnd)){
        ElMessage.error("所选日期必须在日期区间内!");
        return;
    }
    request({
        method: "post",
        url: "/yg001/addDetailList",
        data: detailItem,
    }).then((res: any) => {
        if (res.data.code == '200') {
            ElMessage.success("申报成功!");
            getDetailList();
        }else{
            ElMessage.error("申报失败!");
        }
    });
}

const getCount =()=>{
    totalCount.value = 0;
    detailList.value.forEach(item=>{
        totalCount.value += item.tbCount;
    })
    if(totalCount.value > tb008.value){
        ElMessage.error("申报金额超出预算金额, 请重新审查申报数据!");
        backgroundColor.value = '#FCF0F0';
    }else{
        backgroundColor.value = '#F0F5FF';
    }
}

const cancel =()=>{
    router.push({name: "YG001"});
}
</script>

<template>
    <el-row>
        <el-col :span="8">
            <h1>费用单号: {{tbDocno}}</h1>
        </el-col>
        <el-col :span="6">
            <h1>开始时间: {{tb003}}</h1>
        </el-col>
        <el-col :span="6">
            <h1>结束时间: {{tb004}}</h1>
        </el-col>
        <el-col :span="4" align="end">
            <el-button type="primary" @click="cancel">取消</el-button>
        </el-col>
    </el-row>
    <el-row style="padding-top: 30px">
        <el-col :span="4" class="card" :style="{'backgroundColor':backgroundColor}">
            <div class="statistic-card">
                <el-statistic :value="totalCount" precision="2">
                    <template #title>
                        <div style="display: inline-flex; align-items: center">
                            申报金额总计
                            <el-tooltip
                                effect="dark"
                                content="申请单日期范围内的每笔金额总计"
                                placement="top"
                            >
                                <el-icon style="margin-left: 4px" :size="12">
                                    <Warning />
                                </el-icon>
                            </el-tooltip>
                        </div>
                    </template>
                </el-statistic>
            </div>
        </el-col>
        <el-col :span="4" class="card">
            <div class="statistic-card">
                <el-statistic :value="tb008" precision="2">
                    <template #title>
                        <div style="display: inline-flex; align-items: center">
                            预算金额
                            <el-tooltip
                                effect="dark"
                                content="申请下来的总预算"
                                placement="top"
                            >
                                <el-icon style="margin-left: 4px" :size="12">
                                    <Warning />
                                </el-icon>
                            </el-tooltip>
                        </div>
                    </template>
                </el-statistic>
            </div>
        </el-col>
    </el-row>
    <el-row style="padding-top: 30px">
        <el-col>
            <el-table :data="detailList" style="width: 100%" >
                <el-table-column label="申报时间" prop="tbTime" width="120" align="center"/>
                <el-table-column label="申报项目" prop="tbContent" width="320" align="center"/>
                <el-table-column label="申报金额" prop="tbCount" align="center"/>
                <el-table-column label="申报人" prop="tbUser" align="center"/>
                <el-table-column fixed="right" label="操作" width="120" align="center">
                    <template #default="item">
                        <el-button link size="small" type="primary" @click="deleteItem(item.row.id)">
                            删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
    </el-row>
    <el-row style="padding-top: 50px" :gutter="20">
        <el-col :span="8">
            <el-form-item label="申报时间">
                <el-date-picker
                    v-model="detailItem.tbTime"
                    placeholder="Pick a date"
                    style="width: 100%"
                    type="date"
                />
            </el-form-item>
        </el-col>
        <el-col :span="8">
            <el-form-item label="申报人">
                <el-select v-model="detailItem.tbUser" multiple placeholder="选择申报人">
                    <el-option v-for="(item,index) in participantsList" :label="item.userName" :value="item.userId"/>
                </el-select>
            </el-form-item>
        </el-col>
        <el-col :span="4">
            <el-form-item label="申报金额">
                <el-input-number v-model="detailItem.tbCount" :precision="2" :step="0.1" />
            </el-form-item>
        </el-col>
        <el-col :span="4" align="end">
            <el-button type="primary" @click="save">申报</el-button>
        </el-col>
    </el-row>
    <el-row>
        <el-col>
            <el-form-item label="申报内容">
                <el-input
                    v-model="detailItem.tbContent"
                    :autosize="{ minRows: 2, maxRows: 4 }"
                    type="textarea"
                    placeholder="Please input"
                />
            </el-form-item>
        </el-col>
    </el-row>
</template>

<style scoped>
.card{
    background-color: #EFF5FF;
    padding: 5px;
    border-radius: 10px;
    margin-inline: 10px;
}

.error{
    background-color: #FCF0F0;
}
</style>
