<script lang="ts" setup>
import {onMounted, reactive, ref} from "vue";
import router from "@/router";
import request from "../../../request.js";
import {ElMessage, ElMessageBox} from "element-plus";

const c_user = ref('')
const c_userId = ref('')
const c_role = ref('')
let optionsStus = ref([])
let dataList = ref([])
let querySelect = reactive({
    tbStus: '',
    tbDocno: '',
})
let pageInfo = reactive({
    pageSize: 10,
    pageIndex: 1,
    pageCount: 10,
})

onMounted(() => {
    c_user.value = JSON.parse(<string>sessionStorage.getItem('c_user'));
    c_userId.value = JSON.parse(<string>sessionStorage.getItem('c_userId'));
    c_role.value = JSON.parse(<string>sessionStorage.getItem('c_role'));
    getStus();
    getList();
})

const getList = () => {
    let _parma = {
        pageIndex: pageInfo.pageIndex,
        pageSize: pageInfo.pageSize,
        tbStus: querySelect.tbStus == '全部' ? '' : querySelect.tbStus,
        tbDocno: querySelect.tbDocno,
        c_user: c_userId.value
    }
    request({
        method: "post",
        url: "/yg001/getList",
        data: _parma,
    }).then((res: any) => {
        if (res.data.code == '200') {
            dataList.value = res.data.data
        }
    });
}

const search = () => {
    console.log(querySelect);
    getList();
}

const getStus = () => {
    request({
        method: "post",
        url: "/yg001/getStus",
        data: {},
    }).then((res: any) => {
        if (res.data.code == '200') {
            optionsStus.value = res.data.data;
        }
    });
}

const toDetail = (item: any) => {
    router.push({name: "YG001-s01", query: item});
}

const addItem = () => {
    router.push({name: "YG001-s02"});
}
const deleteItem = (item:any) => {
    ElMessageBox.confirm('确定删除此笔数据?')
        .then(() => {
            request({
                method: "post",
                url: "/yg001/delete",
                data: {param:item},
            }).then((res: any) => {
                if (res.data.code == '200') {
                    ElMessage.success("删除成功!");
                    getList();

                }else{
                    ElMessage.error("删除失败!");
                }
            });
        })
}
</script>

<template>
    <el-row align="middle">
        <el-col :span="6" style="padding-inline: 10px">
            <el-form-item label="申请单状态">
                <el-select v-model="querySelect.tbStus" placeholder="选择申请单状态">
                    <el-option label="全部" value="全部"/>
                    <el-option v-for="(item,index) in optionsStus" :label="item" :value="item"/>
                </el-select>
            </el-form-item>
        </el-col>
        <el-col :span="6" style="padding-inline: 10px">
            <el-form-item label="申请单号">
                <el-input v-model="querySelect.tbDocno"/>
            </el-form-item>
        </el-col>
        <el-col :span="6" style="padding-inline: 10px">

        </el-col>
        <el-col :span="6" align="right" style="padding-inline: 10px">
            <el-button type="primary" @click="search">搜索</el-button>
            <el-button type="primary" @click="addItem">新增申请单</el-button>
        </el-col>
    </el-row>
    <el-table :data="dataList" style="width: 100%" >
        <el-table-column label="申请单状态" prop="tbStus" width="120" align="center"/>
        <el-table-column label="申请单编号" prop="tbDocno" width="320" align="center"/>
        <el-table-column label="申请部门" prop="tb001" align="center"/>
        <el-table-column label="开始时间" prop="tb003" align="center"/>
        <el-table-column label="结束时间" prop="tb004" align="center"/>
        <el-table-column label="申请时间" prop="tb004" align="center"/>
        <el-table-column fixed="right" label="操作" width="120" align="center">
            <template #default="item">
                <el-button v-if="item.row.tbStus != '待审批'" link size="small" type="primary" @click="toDetail(item.row)">详情</el-button>
                <el-button v-if="item.row.tbStus == '待审批'" link size="small" type="primary" @click="deleteItem(item.row.tbDocno)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-row justify="end" style="width: 100%; background-color: #FFFFFF">
        <el-pagination
            v-model:current-page="pageInfo.pageIndex"
            v-model:page-size="pageInfo.pageSize"
            :page-sizes="[10, 20, 30]"
            :small="small"
            :total="pageInfo.pageCount"
            layout="sizes, prev, pager, next"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
        />
    </el-row>
</template>

<style scoped>

</style>
