.middle-class {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.box-card {
    width: 750px;
    border-radius: 20px;
    padding-inline: 75px;
    opacity: 2;
    background-color: rgba(255, 255, 255, 0.8);
}

.background {
    background: url(../../../assets/img/LoginBackground.jpg);
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}
