<script lang="ts" setup>
import {reactive} from "vue";
import request from "../../../request.js";
import moment from "moment";
import md5 from "js-md5";
import type {FormInstance, FormRules} from "element-plus";
import router from "@/router";
import {ElMessage} from "element-plus";

interface RuleForm {
    username: string;
    password: string;
}

var form = reactive<RuleForm>({
    username: "",
    password: "",
});

const rules = reactive<FormRules<RuleForm>>({
    username: [
        {required: true, message: "请输入用户名", trigger: "blur"},
        {min: 3, max: 6, message: "长度在 3 至 6 字符", trigger: "blur"},
    ],
    password: [
        {required: true, message: "请输入密码", trigger: "blur"},
        {min: 9, max: 12, message: "长度在 9 至 12 字符", trigger: "blur"},
    ],
});

const onLogin = () => {
    let _param = {
        username: form.username,
        password: md5(form.password),
        loginDate: moment(new Date()).format("YYYY-MM-DD"),
    };
    request({
        method: "post",
        url: "/user/login",
        data: _param,
    }).then((res:any) => {
        if(res.data.code == '200'){
            ElMessage({
                message: "登录成功!",
                type: "success",
            });
            router.push({ name: "layOut" });
            sessionStorage.setItem('c_userId',JSON.stringify(res.data.data[0].userId));
            sessionStorage.setItem('c_role',JSON.stringify(res.data.data[0].roleId));
            sessionStorage.setItem('c_user',JSON.stringify(res.data.data[0].userName));
        }else{
            ElMessage.error("登录失败!" + res.data.message);
            sessionStorage.clear();
        }
    });
};

const pageChange = () => {
    router.push({name: "register"});
};

const clear = () => {
    form.username = "";
    form.password = "";
};
</script>

<template>
    <div class="background">
        <div class="middle-class">
            <el-card class="box-card">
                <template #header>
                    <div class="card-header">
                        <h2 style="width: 100%; text-align: center">XXXXX系统</h2>
                    </div>
                </template>
                <el-form
                    :model="form"
                    :rules="rules"
                    label-position="left"
                    label-width="80px"
                >
                    <el-form-item label="用户名" prop="username">
                        <el-input v-model="form.username"/>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input v-model="form.password" show-password/>
                    </el-form-item>
                    <el-form-item style="margin-bottom: 0px">
                        <el-button type="primary" @click="onLogin">登录</el-button>
                        <el-button @click="clear">清空</el-button>
                    </el-form-item>
                </el-form>
                <template #footer>
                    <el-row>
                        <el-col :span="16"></el-col>
                        <el-col :span="8">
                            <el-button text type="warning" @click="pageChange"
                            >还没有账号? 点击注册.....
                            </el-button>
                        </el-col>
                    </el-row>
                </template>
            </el-card>
        </div>
    </div>
</template>

<style>
@import url(../css/login.css);
</style>
