<script lang="ts" setup>
import { reactive } from "vue";
import request from "../../../request.js";
import moment from "moment";
import md5 from "js-md5";
import { ElMessage, FormRules } from "element-plus";
import router from "@/router";

interface RuleForm {
  username: string;
  password: string;
  password_confirm: string;
  email: string;
}

let form = reactive<RuleForm>({
  username: "",
  password: "",
  password_confirm: "",
  email: "",
});

const validatePass = (rule: any, value: any, callback: any) => {
  if (value === "") {
    callback(new Error("请确认密码"));
  } else if (value !== form.password) {
    callback(new Error("两次密码不一致!"));
  } else {
    callback();
  }
};

const validateemail = (rule: any, value: any, callback: any) => {
  //验证邮箱的正则表达式
  const regemail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
  if (regemail.test(value)) {
    //合法的邮箱
    return callback();
  }
  callback(new Error("请输入合法的邮箱"));
};

const rules = reactive<FormRules<RuleForm>>({
  username: [
    { required: true, message: "请输入用户名", trigger: "blur" },
    { min: 3, max: 6, message: "长度在 3 至 6 字符", trigger: "blur" },
  ],
  password: [
    { required: true, message: "请输入密码", trigger: "blur" },
    { min: 9, max: 12, message: "长度在 9 至 12 字符", trigger: "blur" },
  ],
  password_confirm: [{ validator: validatePass, trigger: "blur" }],
  email: [{ validator: validateemail, trigger: "blur" }],
});

const onSubmit = () => {
  let _param = {
    username: form.username,
    password: md5(form.password),
    password_confirm: md5(form.password_confirm),
    email: form.email,
    date: moment(new Date()).format("YYYY-MM-DD"),
  };
  request({
    method: "post",
    url: "/user/add",
    data: _param,
  }).then((res) => {
    if (res.data.code == "200") {
      ElMessage({
        message: "注册成功!",
        type: "success",
      });
      router.push({ name: "login" });
    } else {
      ElMessage.error("注册失败!" + res.data.message);
    }
  });
};

const pageChange = () => {
  router.push({ name: "login" });
};

const clear = () => {
  form.username = "";
  form.password = "";
  form.password_confirm = "";
  form.email = "";
};
</script>

<template>
  <div class="background">
    <div class="middle-class">
      <el-card class="box-card">
        <template #header>
          <div class="card-header">
            <h2 style="width: 100%; text-align: center">XXXXX系统</h2>
          </div>
        </template>
        <el-form
          :model="form"
          :rules="rules"
          label-position="left"
          label-width="80px"
        >
          <el-form-item label="用户名" prop="username">
            <el-input v-model="form.username" />
          </el-form-item>
          <el-form-item label="密码" prop="password">
            <el-input v-model="form.password" show-password/>
          </el-form-item>
          <el-form-item
            label="确认密码"
            prop="password_confirm"
            required="true"
          >
            <el-input v-model="form.password_confirm" show-password/>
          </el-form-item>
          <el-form-item label="邮箱" prop="email" required="true">
            <el-input v-model="form.email" />
          </el-form-item>
          <el-form-item style="margin-bottom: 0px">
            <el-button type="primary" @click="onSubmit">注册</el-button>
            <el-button @click="clear">清空</el-button>
          </el-form-item>
        </el-form>
        <template #footer>
          <el-row>
            <el-col :span="16"></el-col>
            <el-col :span="8">
              <el-button text type="warning" @click="pageChange"
                >已经有账号? 点击登录.....
              </el-button>
            </el-col>
          </el-row>
        </template>
      </el-card>
    </div>
  </div>
</template>

<style>
@import url(../css/register.css);
</style>
