<script lang="ts" setup>
import {onMounted, ref} from "vue";
import router from "@/router";
import request from "../../../request.js";

const c_user = ref('')
const c_userId = ref('')
const c_role = ref('')
let projectList = ref([])

onMounted(() => {
    c_user.value = JSON.parse(<string>sessionStorage.getItem('c_user'));
    c_userId.value = JSON.parse(<string>sessionStorage.getItem('c_userId'));
    c_role.value = JSON.parse(<string>sessionStorage.getItem('c_role'));
    getProjects();
})

const logOut = function(){
    sessionStorage.clear()
    router.push({ name: "login" });
}

const getProjects = function(){
    let _param = {
        roleId: c_role.value,
    };
    request({
        method: "post",
        url: "/project/listAll",
        data: _param,
    }).then((res:any) => {
        if(res.data.code == '200'){
            projectList.value = res.data.data
        }
    });
}

const select = (index:any)=>{
    console.log(index)
    router.push({name: index});
}
</script>

<template>
    <div class="common-layout">
        <el-container>
            <el-header>
                <el-row justify="space-between" style="height: 40px;">
                    <el-col :span="4" style="position: relative">
                        <p style="color: #181818; position: absolute; top: 20%;" @click="toHome">
                            综合财务管理平台
                        </p>
                    </el-col>
                    <el-col :span="2" style="text-align: right">
                        <el-dropdown style="color: #181818; padding-top: 3px;" placement="bottom-end">
                            <el-button type="primary" >
                                {{ c_user }}<el-icon class="el-icon--right"><arrow-down /></el-icon>
                            </el-button>
                            <template #dropdown>
                                <el-dropdown-menu>
                                    <el-dropdown-item @click="logOut"><el-icon><SwitchButton /></el-icon>退出</el-dropdown-item>
                                </el-dropdown-menu>
                            </template>
                        </el-dropdown>
                    </el-col>
                </el-row>
            </el-header>
            <el-container>
                <el-aside width="200px">
                    <el-scrollbar>
                        <el-menu class="el-menu-vertical-demo" background-color="#2B85CD" active-text-color="#FFFFFF" @select="select">
                            <el-menu-item index="home"><el-icon><message /></el-icon>综合财务管理平台首页</el-menu-item>
                            <el-menu-item :index="item.projectId" v-for="(item,index) in projectList"><el-icon><message /></el-icon>
                                {{ item.projectName }}</el-menu-item>
                        </el-menu>
                    </el-scrollbar>
                </el-aside>
                <el-main>
                    <router-view></router-view>
                </el-main>
            </el-container>
        </el-container>
    </div>
</template>

<style scoped>
.el-container {
    height: 100vh;
    /* overflow: hidden; */
    background-color: #F8F8F8;
    color: #181818;
}

.el-header {
    background-color: #CEE0EE;
}

.el-aside {
    background-color: #2B85CD;
}

.el-input {
    background: transparent;
    padding: 4px;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}
</style>
